@font-face {
  font-family: 'Orbitron';
  src: url('../../../assets//fonts/Orbitron.ttf') format('truetype'); /* Adjust the URL as per your file structure and font format */
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: #5ceea7;
  font-size: 64px;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  line-height: 1;
  text-align: center;
}

#date {
  text-align: center;
}
